*{
	margin:0px;
	padding:0px;	
}
body{
    background-color:#09093B;
    color:#DEDDE2;
    margin: 0 auto;
    
}
/*html,body,body *{
    margin: 0 auto;
    padding:10 px;
    background-color:#09093B;
    color:#A5A5A6;
    display:block;
  
}*/
 /* font-size:0.8 rem; */

.vehicleDiv, .optionDiv{
    display:block;
    margin:0 auto;
    text-align: center;
   /* padding:10 px;*/
}

.labels{
    display:block;
    margin:0 auto;
 /*   padding:10 px;*/
    text-align:center;
    font-size: 20 px;
}

#publicTransportIMG{
    margin: 0 auto;
    width: 30%;
}
#tramIMG, #busIMG, #trolleyIMG{
    margin-left: 95px;
    float:left;
    width:25%;
    padding:2px;
    border-radius: 15px;
}
#tramIMG:hover, #busIMG:hover, #trolleyIMG:hover {
    cursor: pointer;
    border-radius: 15px;
    background-color: #3e8e41
}
.button {
    margin: 5px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
h1{
    font-size:1.8rem;
}
h2{
    font-size:1.6rem;
}
h3{
    font-size:1.4rem;
}

/*phone only*/
@media (max-width: 599px) {
    body,html{
        font-size:25px;
    }
}
/*for-tablet-portrait-up*/
@media (min-width: 600px) {
    body,html{
        font-size:50px;
    }
}

/*for-tablet-landscape-up */
@media (min-width: 900px) {
    body,html{
        font-size:50px;
    }
}
/*for-desktop-up*/
@media (min-width: 1200px) {
    body,html{
        font-size:50px;
    }
}

/*for-big-desktop-up*/
@media (min-width: 1800px) {
    body{
        font-size:50px;
    }
}