*{
	margin:0 px;
	padding:0px;	
}
body{
    background-color:#09093B;
    color:#DEDDE2;
}

#tramsDiv, #busDiv, #trolleyDiv, #selectHour{
 
    display:block;
    padding:10 px;
    text-align:center;
    margin: 0  auto;
}

.labels{
    display:block;
    padding:10 px;
    text-align:center;
    font-size: 200%;
}
#departureTimesDiv, #timesDiv{
    width:200px;
    display:block;
    text-align:center;      
    margin:  0  auto;

}
#pDiv{
    
    display:block;
    padding:10 px;
    text-align:center;
    background-color:#16d2eb;
    color:#03010e;
}

.button {
    margin: 5 px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#tramIMGDiv, #busIMGDiv, #trolleyIMGDiv{
    display:block;
}

#tramIMG, #busIMG, #trolleyIMG{
    margin: 2%;
    float:left;
    width:25%;
    padding:2%;
    border-radius: 10%;
}
#tramIMG:hover, #busIMG:hover, #trolleyIMG:hover {
    cursor: pointer;
    border-radius: 15%;
    background-color: #3e8e41;
}



/*
@media (max-width: 599px) {
     
    #tramIMG, #busIMG, #trolleyIMG{
        margin: 2%;
        float:left;
        width:10%;
        padding:2%;
        border-radius: 5%;
    }
    #tramIMG:hover, #busIMG:hover, #trolleyIMG:hover {
        cursor: pointer;
        border-radius: 15%;
        background-color: #3e8e41;
    }
}


@media (min-width: 600px) {
    #tramIMG, #busIMG, #trolleyIMG{
        margin: 2%;
        float:left;
        width:18%;
        padding:2%;
        border-radius:7%;
    }
    #tramIMG:hover, #busIMG:hover, #trolleyIMG:hover {
        cursor: pointer;
        border-radius: 15%;
        background-color: #3e8e41;
    }
}

@media (min-width: 1200px) {
    #tramIMG, #busIMG, #trolleyIMG{
        margin: 2%;
        float:left;
        width:25%;
        padding:2%;
        border-radius: 10%;
    }
    #tramIMG:hover, #busIMG:hover, #trolleyIMG:hover {
        cursor: pointer;
        border-radius: 15%;
        background-color: #3e8e41;
    }
}

.vehicleDiv, .optionDiv, #selectHour, .hoursP{
    display:block;
    margin:0 auto;
    text-align: center;
}


h1{
    font-size:1.8rem;
}
h2{
    font-size:1.6rem;
}
h3{
    font-size:1.4rem;
}*/